@model IEnumerable<TaskMaster.Models.Quest>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">

    <div class="col-md-12">
        <h1>Welcome to TaskMaster</h1>
        <p>This app allows you plan your tasks as a quest system, like from a video game!</p>
        <a asp-controller="App" asp-action="quests" class="btn btn-lg btn-success">View My Tasks</a>
    </div>

</div>

